[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colleyRstats"]
	path = colleyRstats
	url = https://github.com/m-colley/colleyrstats
